/* Estilo global */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000, #344e41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Frase do Kratos */
.fraseKratos {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Container central */
.container {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

/* Título estilizado */
h1 {
    color: #344e41;
}

/* Grupo de entrada */
.input-group {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #344e41;
    box-shadow: 0px 0px 8px #18241e;
}

/* Lista de tarefas */
ul {
    list-style-type: none;
    padding: 0;
}

/* Botão de adicionar */
button {
    background: #344e41;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

button:hover {
    background: #3b4741;
}

/* Lista de tarefas */
li {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    transition: 0.3s;
}

/* Botões de ação */
.botoesTarefa {
    display: flex;
    gap: 5px;
}

.botaoFeito {
    background: #2ecc71;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.botaoFeito:hover {
    background: #27ae60;
}

.botaoDeletar {
    background: #e63946;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.botaoDeletar:hover {
    background: #d62839;
}

/* Efeito de tarefa concluída */
.feita {
    text-decoration: line-through;
    color: gray;
}
